
body {
    font-family: Arial, sans-serif;
    background-color: #6d6875;
    margin: 0;
    padding: 0;
}

#login-container {
    text-align: center;
    margin: 100px auto;
    padding: 60px;
    background-color: #c6cedbff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    color: #333;
}

#login-form {
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #48384a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #282130;
}

#error-message {
    color: red;
    margin-top: 10px;
}

#secure-page {
    display: none;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#logout-button {
    background-color: #48384a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #282130;
}
